@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 15px;
}

body {
  color: #ff9900;
  background: black;
}

main {
  font-family: 'Courier New', Courier, monospace;
  color: #ff9900;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 21px;
}

.cashu-operations-container {
  max-width: 100%;
}

.app_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
}

.app_header h2 {
  margin: 0;
  /* Remove default margin from h2 */
  display: flex;
  /* Ensure the content inside h2 stays on one line */
  align-items: center;
  /* Center align items vertically */
}

.app_header #refresh-icon {
  cursor: pointer;
  /* Change cursor to pointer for clickable icon */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.3s;
}

.app_header #refresh-icon:hover {
  transform: rotate(180deg);
}

.centered-container {
  padding: 21px;
  margin-bottom: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  box-shadow: 0 1px 0 1px #ff9900,
    inset 0 1px 0 1px #ff9900,
    0 0 0 1px #ff9900,
    inset 0 0 0 1px #ff9900;
}

.centered-container a {
  text-decoration: underline;
}

.section {
  margin-bottom: 21px;
  padding: 21px;
  width: 100%;
  border: 2px solid black;
  box-shadow: 0 1px 0 1px #ff9900,
    inset 0 1px 0 1px #ff9900,
    0 0 0 1px #ff9900,
    inset 0 0 0 1px #ff9900;
}

.section p {
  margin-bottom: 10px;
}

.section a {
  text-decoration: underline;
}

.section h2 {
  margin-top: -3px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 1rem;
}

.section label {
  display: block;
  margin-bottom: 5px;
  text-decoration: underline;
}

.section input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ff9900;
  border-radius: 0px;
  color: #ff9900;
  background-color: #111111;
}

.section textarea {
  width: 100%;
  max-width: 100%;
  height: 200px;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ff9900;
  border-radius: 0px;
  color: #ff9900;
  background-color: #111111;
}

.button-container {
  display: flex;
  width: 100%;
  max-width: 1000px;
  /* Adjust as necessary */
  margin: 0 auto;
  gap: 5px;
}

.styled-button {
  flex: 1;
  min-width: 100px;
  background-color: #211400;
  border: 1px solid #ff9900;
  border-radius: 0px;
  padding: 10px;
  margin-bottom: 5px;
  /* Adjust padding as needed */
  text-align: center;
  /* Center text horizontally */
  text-decoration: none;
  display: inline-flex;
  /* Use inline-flex for layout */
  align-items: center;
  /* Center items vertically */
  justify-content: center;
  /* Center items horizontally */
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.1s ease;
}


.styled-button:active {
  transform: scale(0.98);
  /* Scale up slightly when clicked */
}

.styled-button:hover {
  background-color: rgba(255, 153, 0, 0.5);
  /* #ff9900 with 50% transparency */
}

.orange-button {
  flex: 1;
  color: #000000;
  background-color: #ff9900;
  border-radius: 0px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.1s ease;
}

.data-display-container {
  background-color: black;
  padding: 21px;
  box-shadow: 0 0 10px rgba(110, 107, 107, 0.1);
  width: 100%;
  height: auto;
  overflow-y: auto;
  border: 2px solid black;
  box-shadow: 0 1px 0 1px #ff9900,
    inset 0 1px 0 1px #ff9900,
    0 0 0 1px #ff9900,
    inset 0 0 0 1px #ff9900;
}

.data-display-container h2 {
  margin-bottom: 10px;
  font-weight: bold;
}

.data-output {
  background-color: #111111;
  color: #ff9900;
  padding: 10px;
  border: 1px solid #ff9900;
  white-space: pre-wrap;
  overflow: scroll;
  max-width: 100%;
  height: 300px;
  max-height: 300px;
  word-wrap: break-word;
  margin: 10px 0px 10px 0px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  /* Modal styles */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, .9);
  }

  .modal h2 {
    font-weight: bold;
    margin-bottom: 10px;
  }

  .modal label {
    display: block;
    margin-bottom: 5px;
  }

  .modal p {
    display: block;
    margin-bottom: 5px;
  }

  .modal input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ff9900;
    border-radius: 0px;
    color: #ff9900;
    background-color: #111111;
  }

  .modal textarea {
    width: 100%;
    height: 200px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ff9900;
    border-radius: 0px;
    resize: none;
    background-color: #111111;
  }

  .modal-content {
    background-color: black;
    color: #ff9900;
    font-family: 'Courier New', Courier, monospace;
    margin: 15% auto;
    padding: 21px;
    border: 1px solid #ff9900;
    width: 80%;
    max-width: 500px;
    position: relative;
  }

  .close-button {
    position: absolute;
    top: 8px;
    right: 20px;
    color: #ff9900;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }

  .close-button:hover,
  .close-button:focus {
    color: #ffae34;
    text-decoration: none;
    cursor: pointer;
  }

  textarea#invoiceText {
    width: 100%;
    height: 200px;
    margin: 10px 0;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ff9900;
    resize: none;
    background-color: black;
    color: #ff9900;
    font-family: 'Courier New', Courier, monospace;
  }

  /* End modal styles */

  .toast {
    visibility: hidden;
    width: 69vw;
    /* Ensure it doesn't exceed viewport width */
    background-color: #111111;
    color: #ff9900;
    text-align: center;
    border-radius: 0px;
    padding: 21px;
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
    font-size: 0.875rem;
    opacity: 0;
    transition: opacity 0.5s, visibility 0.5s, top 0.5s;
    word-wrap: break-word;
    /* Ensure long words break and wrap */
    overflow-wrap: break-word;
    /* Ensure long words break and wrap */
  }

  .toast.show {
    visibility: visible;
    opacity: 1;
    top: 42px;
  }

  /* Contacts-related */

  .contacts-container {
    color: #ff9900;
    background: black;
    font-family: 'Courier New', Courier, monospace;
  }

  .box_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
  }

  .contact-row {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ff9900;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 1px;
  }

  .add_contact_modal {
    display: block;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .delete_contact_modal {
    display: block;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .send_lightning_modal {
    display: block;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .select_contact_modal {
    display: block;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .add_mint_modal {
    display: block;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .transaction_modal {
    display: block;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .mint-info-modal {
    display: block;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .input-container {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
  }

  .stacked_button_container {
    display: flex;
    flex-direction: column;
    /* Stack buttons vertically */
    align-items: flex-end;
    /* Align buttons to the right */
  }

  .square_button {
    min-height: 42px;
    min-width: 42px;
    border: 1px solid #ff9900;
    background-color: #3a2500;
    margin-left: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .input-group {
    margin: 10px 0;
  }

  .input-group label {
    display: block;
    margin-bottom: 5px;
  }

  .input-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }

  .mint-row {
    display: flex;
    margin-bottom: 11px;
    border-top: 1px solid #ff9900;
    padding-top: 3px;
    padding-left: 9px;
    padding-right: 1px;
  }

  .mint-checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 8px;
    flex-shrink: 0;
  }

  .mint-info {
    flex-grow: 1;
    /* Take up remaining space */
  }

  .mint-name-row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .mint-name {
    padding-left: 8px;
  }

  .mint-balance-row {
    margin-top: 0px;
    /* Space between the name and sats */
  }

  .mint-balance {
    display: inline-block;
    background-color: #ff9900;
    color: black;
    padding: 1px 4px;
    margin-left: 7px;
    text-align: center;
    font-size: 0.875rem;
  }

  input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    /* For Safari */
    max-width: 20px;
    max-height: 20px;
    border: 2px solid #FF9900;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    background-color: #111111;
    position: relative;
    margin-left: -7px;
    margin-top: 7px;
  }

  input[type="radio"]:checked {
    background-color: #FF9900;
  }

  input[type="radio"]:checked::after {
    content: '✓';
    font-size: 21px;
    color: #111111;
    position: absolute;
    top: -5px;
    left: 3px;
  }

  .ecash_or_lightning_modal {
    display: block;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
  }

  #send_lightning_input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ff9900;
    border-radius: 0px;
    background-color: #111111;
  }

  /* Progress bar container */
  .progress-bar-container {
    width: 100%;
    height: 10px;
    background-color: #111111;
    overflow: hidden;
    border-radius: 0px;
    margin-bottom: 20px;
  }

  /* Progress bar */
  .progress-bar {
    width: 42%;
    /* Width of the progress bar */
    height: 100%;
    background-color: #ff9900;
    /* Color for the progress bar */
    animation: progressBarMarquee 2s linear infinite;
    /* Animation with a linear marquee effect */
  }

  /* Marquee animation */
  @keyframes progressBarMarquee {
    0% {
      transform: translateX(-100%);
      /* Start off-screen to the left */
    }

    100% {
      transform: translateX(250%);
      /* Move all the way to the right */
    }
  }

  /* QR CODE */

  #qrcode {
    width: 100%;
    /* Ensure the container takes full width */
    height: auto;
    display: flex;
    justify-content: center;
    /* Center the QR code */
    align-items: center;
    /* Center vertically */
  }

  canvas {
    width: 100%;
    height: auto;
    max-width: 100%;
    /* Prevent overflow */
    display: block;
    /* Ensure it's rendered as a block element */
  }

  .copied-message {
    position: absolute;
    top: 0;
    /* Align to the top */
    left: 0;
    /* Align to the left */
    width: 100%;
    /* Cover the full width of the textarea */
    height: 100%;
    /* Cover the full height of the textarea */
    background-color: rgba(0, 0, 0, 0.8);
    /* Opaque background */
    display: flex;
    /* Use flexbox to center the text */
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    z-index: 10;
    /* Ensure it appears above other elements */
    pointer-events: none;
    /* Prevent interaction with the message */
    text-align: center;
    /* Center the text */
    padding-bottom: 21px;
  }

  .qr-code-button {
    display: flex;
    /* Use flexbox for centering */
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    width: 45px;
    /* Set a fixed width for the button */
    height: 45px;
    /* Set a fixed height for the button */
    border: none;
    /* Remove default border */
    background-color: transparent;
    /* Make background transparent or set your desired color */
    cursor: pointer;
    /* Change cursor to pointer on hover */
    padding: 0;
    /* Remove default padding */
  }

  .qr-code-button:hover {
    background-color: rgba(255, 153, 0, 0.5);
  }

}