@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #ff9900;
  background: black;
}

main {
  font-family: 'Courier New', Courier, monospace;
  color: #ff9900;
  margin: 11px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 21px;
}

.cashu-operations-container {
  max-width: 100%;
}

.section {
  margin-bottom: 21px;
  background-color: #000000;
  padding: 21px;
  border: 1px solid #ff9900;
  width: 100%;
}

.section p {
  margin-bottom: 10px;
}

.section a {
  text-decoration: underline;
}

.section h2 {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: large;
}

.section label {
  display: block;
  margin-bottom: 5px;
  text-decoration: underline;
}

.section input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ff9900;
  border-radius: 0px;
  color: #ff9900;
  background-color: #111111;
}

.section textarea {
  width: 100%;
  max-width: 100%;
  height: 200px;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ff9900;
  border-radius: 0px;
  color: #ff9900;
  background-color: #111111;
}

.button-container {
  display: flex;
  width: 100%;
  max-width: 600px;
  /* Adjust as necessary */
  margin: 0 auto;
}

.styled-button {
  flex: 1;
  min-width: 100px;
  border: 1px solid #ff9900;
  border-radius: 0px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.1s ease;
}

.styled-button:active {
  transform: scale(0.98);
  /* Scale up slightly when clicked */
}

.styled-button:hover {
  background-color: rgba(255, 153, 0, 0.5);
  /* #ff9900 with 50% transparency */
}

.orange-button {
  flex: 1;
  color: #000000;
  background-color: #ff9900;
  border-radius: 0px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.1s ease;
}

.full_width_button {
  flex: 1;
  width: 100%;
  border: 1px solid #ff9900;
  border-radius: 0px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 0px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.1s ease;
}

.full_width_button:active {
  transform: scale(0.98);
  /* Scale up slightly when clicked */
}

.full_width_button:hover {
  background-color: rgba(255, 153, 0, 0.5);
  /* #ff9900 with 50% transparency */
}

.data-display-container {
  border: 1px solid #ff9900;
  background-color: black;
  padding: 21px;
  box-shadow: 0 0 10px rgba(110, 107, 107, 0.1);
  width: 100%;
  height: auto;
  overflow-y: auto;
}

.data-display-container h2 {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: large;
}

.data-output {
  background-color: #111111;
  color: #ff9900;
  padding: 10px;
  border: 1px solid #ff9900;
  white-space: pre-wrap;
  overflow: scroll;
  max-width: 100%;
  height: 300px;
  max-height: 300px;
  word-wrap: break-word;
  margin: 10px 0px 10px 0px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  #refresh-icon {
    position: absolute;
    top: 15px;
    right: 21px;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s;
  }

  #refresh-icon:hover {
    transform: rotate(180deg);
  }

  /* Modal styles */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
  }

  .modal h2 {
    font-weight: bold;
    font-size: large;
    margin-bottom: 10px;
  }

  .modal label {
    display: block;
    margin-bottom: 5px;
  }

  .modal p {
    display: block;
    margin-bottom: 5px;
  }

  .modal input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ff9900;
    border-radius: 0px;
    color: #ff9900;
    background-color: #111111;
  }

  .modal textarea {
    width: 100%;
    height: 200px;
    margin: 10px 0;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ff9900;
    border-radius: 0px;
    resize: none;
    background-color: black;
    color: #ff9900;
    font-family: 'Courier New', Courier, monospace;
  }

  .modal-content {
    background-color: black;
    color: #ff9900;
    font-family: 'Courier New', Courier, monospace;
    margin: 15% auto;
    padding: 21px;
    border: 1px solid #ff9900;
    width: 80%;
    max-width: 500px;
    position: relative;
  }

  .close-button {
    position: absolute;
    top: 8px;
    right: 20px;
    color: #ff9900;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }

  .close-button:hover,
  .close-button:focus {
    color: #ffae34;
    text-decoration: none;
    cursor: pointer;
  }

  textarea#invoiceText {
    width: 100%;
    height: 200px;
    margin: 10px 0;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ff9900;
    resize: none;
    background-color: black;
    color: #ff9900;
    font-family: 'Courier New', Courier, monospace;
  }

  /* End modal styles */

  .toast {
    visibility: hidden;
    width: 69vw;
    /* Ensure it doesn't exceed viewport width */
    background-color: #111111;
    color: #ff9900;
    text-align: center;
    border-radius: 0px;
    padding: 21px;
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.5s, visibility 0.5s, top 0.5s;
    word-wrap: break-word;
    /* Ensure long words break and wrap */
    overflow-wrap: break-word;
    /* Ensure long words break and wrap */
  }

  .toast.show {
    visibility: visible;
    opacity: 1;
    top: 42px;
  }

  /* Contacts-related */

  .contacts-container {
    color: #ff9900;
    background: black;
    font-family: 'Courier New', Courier, monospace;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  .add-button {
    background-color: transparent;
    color: #ff9900;
    padding-bottom: 10px;
    padding-right: 11px;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s ease;
  }

  .add-button:hover {
    background-color: rgba(255, 153, 0, 0.5);
  }

  .contact-row {
    display: flex;
    justify-content: space-between;
    padding: 11px;
    border-top: 1px solid #ff9900;
  }

  .delete-button {
    background: none;
    border: none;
    color: #ff9900;
    font-size: 1.2rem;
    cursor: pointer;
    transition: color 0.3s ease;
  }

  .add_contact_modal {
    display: block;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .delete_contact_modal {
    display: block;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .send_lightning_modal {
    display: block;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .select_contact_modal {
    display: block;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .add_mint_modal {
    display: block;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .input-container {
    display: flex;
    align-items: flex-start;
    margin-top: 10px;
  }

  .select_contact_button {
    border: 1px solid #ff9900;
    background-color: #583500;
    padding: 13px;
    padding-top: 9px;
    padding-bottom: 7px;
    margin-left: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .input-group {
    margin: 10px 0;
  }

  .input-group label {
    display: block;
    margin-bottom: 5px;
  }

  .input-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }

  #emoji-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 1000;
    /* Ensure it appears on top of other content */
  }

  .emoji {
    position: absolute;
    top: -50px;
    will-change: transform, opacity;
    animation: fall linear forwards;
  }

  @keyframes fall {
    0% {
      transform: translateY(0);
      opacity: 1;
    }

    70% {
      opacity: 1;
      /* Keep fully visible till 70% of the fall */
    }

    100% {
      transform: translateY(100vh);
      opacity: 0;
      /* Fully transparent at the end of the fall */
    }
  }

  .mints-list {
    margin-top: 20px;
  }

  .mint-row {
    display: flex;
    margin-bottom: 11px;
    border-top: 1px solid #ff9900;
    padding: 11px;
  }

  .mint-checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 8px;
    flex-shrink: 0;
  }

  .mint-info {
    flex-grow: 1;
    /* Take up remaining space */
  }

  .mint-name-row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .mint-name {
    padding-left: 8px;
  }

  .mint-balance-row {
    margin-top: 0px;
    /* Space between the name and sats */
  }

  .mint-balance {
    display: inline-block;
    background-color: #ff9900;
    color: black;
    padding: 1px 4px;
    margin-left: 7px;
    text-align: center;
    border-radius: 4px;
    font-size: 14px;
  }

  input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    /* For Safari */
    max-width: 20px;
    max-height: 20px;
    border: 2px solid #FF9900;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    background-color: #111111;
    position: relative;
    margin-left: -7px;
    margin-top: 7px;
  }

  input[type="radio"]:checked {
    background-color: #FF9900;
  }

  input[type="radio"]:checked::after {
    content: '✓';
    font-size: 21px;
    color: #111111;
    position: absolute;
    top: -5px;
    left: 3px;
  }

  .ecash_or_lightning_modal {
    display: block;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
  }

  #send_lightning_input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ff9900;
    border-radius: 0px;
    color: #ff9900;
    background-color: #111111;
  }

  /* Progress bar container */
  .progress-bar-container {
    width: 100%;
    height: 10px;
    background-color: #111111;
    overflow: hidden;
    border-radius: 0px;
    margin-bottom: 20px;
  }

  /* Progress bar */
  .progress-bar {
    width: 42%;
    /* Width of the progress bar */
    height: 100%;
    background-color: #ff9900;
    /* Color for the progress bar */
    animation: progressBarMarquee 2s linear infinite;
    /* Animation with a linear marquee effect */
  }

  /* Marquee animation */
  @keyframes progressBarMarquee {
    0% {
      transform: translateX(-100%);
      /* Start off-screen to the left */
    }

    100% {
      transform: translateX(250%);
      /* Move all the way to the right */
    }
  }

  /* QR CODE */

  /* Ensure the parent div has a defined width */
#qrcode {
  width: 100%; /* Set to full width of the parent */
  display: flex; /* Align items inside */
  justify-content: center; /* Center the QR code */
  overflow: hidden; /* Hide any overflow */
}

/* Ensure the canvas respects the width of the parent */
canvas {
  width: 100% !important; /* Force the canvas to take up 100% of its parent */
  height: auto; /* Maintain aspect ratio */
  max-width: 100%; /* Prevent it from exceeding the parent width */
}

}